{% extends "base.html" %}
{% load static %}
{% block content %}

<body>

    <section class="jumbotron" id="home">
        <div class="container-fluid jumbotron-container d-flex align-items-center mb-5 py-5">
                <div class="row d-flex justify-content-center align-items-center text-center">
                    <div class="col-12 text-center" id="home-text">
                        <!-- <h3 class="font-weight-normal mb-3">Hello, my name</h3> -->
                        <h1 class="display-1 text-uppercase mb-2" id="title">
                            Alissa Troiano</h1>
                    </div>
                    <div class="typewriter text-center">
                        <h2 id="typed-small-screens" class="lead text-center">Software Developer</h2>
                    </div>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-center pt-5 my-0 mx-auto">
                        <a href="{% url 'project_index' %}" class="btn btn-white mx-2 mx-md-4">Projects</a>
                        <a href="#" class="btn btn-white d-sm-block mx-2 mx-md-4">Resume</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="about py-3 py-lg-5 my-3 my-lg-5" id="about">
        <div class="row d-flex text-center align-items center justify-content-center">
            <div class="col-12">
                <h2 class="section-title">ABOUT ME</h2>
                <hr>
            </div>
            <div class="col-12 my-3 my-lg-5">
                <img class="img-fluid mt-3" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000" id="portrait2" alt="portrait" src="static/images/portrait2.jpg"
                    alt="Photo of Me" width="200" height="100">
            </div>
            <div class="col-8 align-items-center justify-content-center text-center my-3 my-lg-5 px-3 px-lg-5"
                style="text-align: center;">
                <p class="mx-3 mx-lg-5 px-3 px-lg-5 my-3" id="about-me">I am a full stack
                    software developer with a wealth of knowledge. Competent in Frontend and Backend development, with
                    seasoned JavaScript, HTML, CSS
                    and Python skills. Keen on learning new products and technologies to build innovative solutions
                    that solve customer needs.

            </div>
            <div class="col-12">
                <h3 class="p-3 p-lg-5" id="skills-section">SKILLS</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="text-center">
                    <i class="mx-1 mx-md-3 mx-lg-5 fab fa-python fa-3x" data-aos="zoom-in" data-aos-duration="2000"
                        data-aos-easing="100" data-aos-delay="50"></i>
                    <i class="mx-1 mx-md-3 mx-lg-5 fab fa-js-square fa-3x" data-aos="zoom-in" data-aos-duration="2000"
                        data-aos-easing="100" data-aos-delay="200"></i>
                    <i class="mx-1 mx-md-3 mx-lg-5 fab fa-html5 fa-3x" data-aos="zoom-in" data-aos-duration="2000"
                        data-aos-easing="100" data-aos-delay="50"></i>
                    <i class="mx-1 mx-md-3 mx-lg-5 fab fa-css3 fa-3x" data-aos="zoom-in" data-aos-duration="2000"
                        data-aos-easing="100" data-aos-delay="50"></i>
                    <i class="mx-1 mx-md-3 mx-lg-5 fas fa-database fa-3x" data-aos="zoom-in" data-aos-duration="2000"
                        data-aos-easing="100" data-aos-delay="50"></i>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <!--Project Display https://codepen.io/mhhasan320/pen/BwqvLL -->
    <section class="project-cta container-fluid text-light py-5 my-5 bg-dark" id="projects">
        <div class="row d-flex text-dark g-4 p-5">
            <div class="col-12">

                <h2 class="section-title text-light">My Dev Projects</h2>
            </div>
        </div>
        <div class="row d-flex text-white g-4 p-5">
            <div class="col-xs-6 col-sm-6">
                <div class="card h-100 overflow-hidden rounded-5 img-fluid" id="project-card1">
                    <div class="card-image-overlay">
                        <div class="py-3 my-3 fw-bold">
                            <h3>Hue</h3>
                            <h6>Digital Art Store</h6>
                            <p class="text-small my-2">E-Commerce Application</p>
                            <div class="row d-flex">
                                <div class="mb-3">
                                    <button type="button" class="btn btn-white btn-sm mb-3">
                                        <a class="view-projects text-dark" href="https://hue-alissa.herokuapp.com/"
                                            target="_blank">
                                            View Project
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-white btn-sm mb-3">
                                        View Code
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="card h-100 overflow-hidden rounded-5 img-fluid" id="project-card2">
                    <div class="card-image-overlay">
                        <a class="stretched-link" href="https://dash-ms3.herokuapp.com/" target="_blank"></a>
                        <div class="py-3 my-3 fw-bold" id="info">
                            <h3>Dash</h3>
                            <h6>Recipe Sharing</h6>
                            <p class="text-small my-2">Full Stack Application</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="card h-100 overflow-hidden rounded-5 img-fluid" id="project-card3">
                    <div class="card-image-overlay">
                        <a class="stretched-link" href="https://dash-ms3.herokuapp.com/" target="_blank"></a>
                        <div class="py-3 my-3 fw-bold">
                            <h3>Game of Facts</h3>
                            <h6>Game of Thrones Trivia</h6>
                            <p class="text-small my-2">JavaScript Game</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="card h-100 overflow-hidden rounded-5" id="project-card4">
                    <div class="card-image-overlay">
                        <div class="py-3 my-3 fw-bold">
                            <h3>Infinity</h3>
                            <h6>Yoga Studio</h6>
                            <p class="text-small my-2">Front End Website</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row d-flex text-center">
            <div class="col-12">
                <div class="text-center">
                    <a href="{% url 'project_index' %}" class="btn btn-large" id="view-projects">
                        View More
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </div>
            </div>
    </section>

    <!--Resume CTA-->
    <section class="resume container-fluid my-4 my-lg-5 py-3 py-lg-5" id="resume">
        <div class="row d-flex text-center align-items-center justify-content-center">
            <div class="col-12">
                <h2 class="section-title mb-5 text-start">Resume</h2>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-dark">Download</button>
            </div>
        </div>
    </section>

    <!--./-------------------Contact -->
    <section class="container-fluid bg-dark text-light py-3 py-lg-5" id="contact">
        <div class="row d-flex text-center align-items-center justify-content-center">
            <div class="col-12">
                <h2 class="section-title text-light">Contact Me</h2>
            </div>
        </div>
            <div class="row text-center my-3 my-lg-4 py-3py-lg-5">
                <div class="col-8 offset-2" id="contact-details">
                    <div class="my-3 my-lg-4" id="contact-details">
                        <i class="fas fa-map-marker" data-aos="zoom-in" data-aos-duration="2000"></i>
                        <span id="address" data-aos="zoom-in" data-aos-duration="2000">New York, New York,US</span>
                        <br>
                        <i class="fas fa-phone" data-aos="zoom-in" data-aos-duration="2000"></i>
                        <span id="phone" data-aos="zoom-in" data-aos-duration="2000">914.562.0119</span>
                        <br>
                        <i class="fas fa-envelope" data-aos="zoom-in" data-aos-duration="2000"></i>
                        <span id="email" data-aos="zoom-in" data-aos-duration="2000">alissatroianonyc@gmail.com</span>
                        <br>
                    </div>
                    <div class="row p-3 p-lg-5 text-center">
                        <p class="text-center">
                            Got a project in mind? Tell me all about it in the message area below. Don't forget your
                            name & your email, so I can get back to you at my earliest convenience.
                        </p>
                        <strong class="my-3 my-lg-4">Drop me a line </strong>
                        <span><i class="fa fa-arrow-down" data-aos="zoom-in" data-aos-duration="2000"></i></span>
                    </div>
                    <div class="row text-start">
                        <form method=POST" id="contact-form" action="submit" class="mb-5">
                            <div class="form-group my-3">
                                <label for="from_name">Your Name</label>
                                <input type="text" name="from_name" id="from_name" class="w3-input">
                            </div>
                            <div class="form-group my-3">
                                <label for="message">Your Message</label>
                                <textarea type="text" name="message" id="message" class="w3-input"></textarea>
                            </div>
                            <div class="form-group my-3">
                                <label for="reply_to">Your Email</label>
                                <input type="text" name="reply_to" id="reply_to" class="w3-input">
                            </div>
                            <div class="form-group text-center my-2 pt-3">
                                <button class="w3-button">
                                    <input type="submit" id="button" value="Send Email">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>
    <script type="text/javascript">
        emailjs.init('user_zf3vBJuHYSbtEgwwo7YWb')
    </script>
    <script src="static/js/script.js"></script>
</body>
{% endblock %}