/* Global Styles */
body {
	font-family: 'Futura-PT', sans-serif;
}

#header {
	font-family: 'Futura-PT', sans-serif;
}

.header {
	font-family: 'Futura-PT', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fafafa;
	background-color: #000;
	text-shadow: 1px 2px 3px #666;
	font-size: 50px;
}

h1#title {
	letter-spacing: 5px;
}


h2.section-title {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.5rem;
  color:rgb(0, 0, 0);
  text-shadow: 0.05em 0.05em 0.2em rgba(75, 75, 75, 0.9);
  text-align: center;
}

.text-small {
  font-family: 'Source Sans Pro', monospace;
  font-size: 12px;
  color: #EAAA00;
  font-weight: lighter;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fafafa;
  background-color: #000;
}

.nav-link {
  color: rgb(33, 33, 33);
  text-transform: uppercase;
  letter-spacing: .5px;
}

.nav-link:hover {
  background-color: rgb(0, 0, 0);
  color: #fafafa;
}

/*===================== Jumbotron ======================*/
/* https://css-tricks.com/perfect-full-page-background-image/ */
#home {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/keyboard.jpg') no-repeat center center;
  background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 0px auto;
  text-align: center;
}

.btn-white:hover {
  background-color: rgb(234, 170, 0);
  padding: 10px 20px;
  border: none;
}

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:  typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #6de1e3; }
}

#typed {
  font-family: 'Source Code Pro', monospace;
  color: #53e44c;
  text-shadow: 1px 1px 3px rgb(40, 39, 39);
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 30px;
}

#typed-small-screens {
    font-family: 'Source Code Pro', monospace;

  color: #53e44c;
  text-shadow: 1px 1px 3px rgb(40, 39, 39);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 30px;
}

.blue{
  background-color: #3a9596;
  color: #fafafa;
}

.btn {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 1px 4px 14px 1px #666;
} 

.btn:hover {
  background-color: #000;
  color: #fafafa
}
.btn-white{
  background-color: #fafafa;
  border:2px solid #fafafa;
}

.btn-blue{
  border: 2.4px solid #fafafa;
  color: #fafafa;
}

@media (max-width: 700px) {
  .about-img{
    margin-left: 20px;
    right: 0px;
    top: 30px;
   }
}


/********************************* Homepage project Cards */
div.card-image-overlay {
    width: 100%;
    padding-top: 10rem;
}

.py-3.my-3.fw-bold {
    font-family: 'Futura-PT', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px;
    background-color: rgb(6 6 6 / 80%);
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0px auto;
    text-align: center;
}

img.card-img-overlay {
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
}


/* grayscale effect copied from https://codepen.io/mhhasan320/pen/BwqvLL */
div#project-card1 {
    background-image: url('../images/popart.png');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#project-card1:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#project-card2 {
    background-image: url('../images/dash.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#project-card2:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#project-card3 {
    background-image: url('../images/gameoffacts.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#project-card3:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#project-card4 {
    background-image: url('../images/infinity.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#project-card4:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#project-card5 {
    background-image: url('../images/jammming.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#project-card5:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

div#project-card6 {
    background-image: url('../images/music.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border: none;
    margin: 0px auto;
    box-shadow: 1px 4px 14px 1px #2f1b31;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

div#project-card6:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

#view-projects {
  padding: 10px 20px;
}

/* ***************************./end-homepage */