<div class="display-font text-dark collapse navbar-collapse project-sort" id="projectNav">
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-item">
            <a href="{% 'project_index' %}" class="nav-link">Sort</a>
        </li>
        <li class="list-item">
            <a class="nav-link" href="{ url 'project_index' %}?category=websites&direction=asc">Web Software</a> 
        </li>
         <li class="list-item">
            <a class="nav-link" href="{ url 'project_index' %}?category=graphic-design&direction=asc">Brand Design</a> 
        </li>
         </li>
              <li class="list-item">
            <a class="nav-link " href="{ url 'project_index' %}?category=game-dev&direction=asc">Protypes</a> 
        </li>
         <li class="list-item">
            <a class="nav-link" href="{ url 'project_index' %}?category=game-dev&direction=asc">Web Games</a> 
        </li>
              <li class="list-item">
            <a class="nav-link" href="{ url 'project_index' %}?category=illustrations&direction=asc">Illustrations</a> 
        </li>
    </ul>
    </div>