body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(#0A0A0A, #CCC 45%, #fff 45% 100%);
}

.Interstitial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Card {
  width: 800px;
  height: 600px;
  background: rgba(255, 255, 255, 0.92);
  overflow: hidden;
  border-radius: 1px;
  box-shadow:
    4px 4px 5px 10px rgba(102, 102, 102, 0.14),
    1px 1px 10px 0 rgba(238, 238, 238, 0.12),
    4px 4px 3px 8px rgba(102, 102, 102, 0.30);
}

.Card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  
}

.Card-body h1 {
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
  text-shadow: 0 1px 0 white;
}

.Card-hero {
  position: relative;
  background: #0a0a0a;
  height: 240px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.Card-hero-wave {
  position: absolute;
  width: 1500px;
  height: 1500px;
  top: -250%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  border-radius: 42.5%;
  background: rgba(255, 255, 255, 0.35);
  animation: waves 3s infinite linear;
}

.Card-hero-wave--second {
  background: rgba(10, 10, 10, 0.35);
  animation: waves 5s infinite linear;
}

.Card-hero-wave--third {
  background: rgba(250, 250, 250, 0.85);
  animation: waves 7s infinite linear;
}

@keyframes waves {
  from { transform: translate(-50%, -50%) rotate(360deg); }
}