
/* --------------- Skills */

#skills {
	align-content: center;
	overflow: hidden;
	gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
	width: 100%;
	min-height: 100vh;
	font-size: 1rem;
	color: var(--light);
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.946), rgba(26, 25, 25, 0.712), rgba(18, 18, 18, 0.68)), url('../images/bg4.jpeg');
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
  
  .slider {
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: calc(var(--size) / 14);
	mask-image: linear-gradient(
	  var(--mask-direction, to right),
	  hsl(0 0% 0% / 0),
	  hsl(0 0% 0% / 1) 20%,
	  hsl(0 0% 0% / 1) 80%,
	  hsl(0 0% 0% / 0)
	);
  }
  
  .slider__group {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll-x 60s linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
	.slider__group {
	  animation-play-state: paused;
	}
  }
  
  .slider--vertical {
	--mask-direction: to bottom;
  }
  
  .slider--vertical,
  .slider--vertical .slider__group {
	flex-direction: column;
  }
  
  .slider--vertical .slider__group {
	animation-name: scroll-y;
  }
  
  .slider--reverse .slider__group {
	animation-direction: reverse;
	animation-delay: -3s;
  }
  
  @keyframes scroll-x {
	from {
	  transform: translateX(var(--scroll-start));
	}
	to {
	  transform: translateX(var(--scroll-end));
	}
  }
  
  @keyframes scroll-y {
	from {
	  transform: translateY(var(--scroll-start));
	}
	to {
	  transform: translateY(var(--scroll-end));
	}
  }
  
  /* Element styles */
  .slider i  {
	display: grid;
	place-items: center;
	width: clamp(10rem, 1rem + 40vmin, 30rem);
	color: var(--light);
	background: rgb(156, 70, 218);
	padding: 50px;
	border-radius: 0.5rem;
	font-size: 5em;
	margin-top: 50px;
  }


  .slider svg, 
  .slider figure {
	background: rgb(156, 70, 218);
	fill: var(--light);
	width: clamp(10rem, 1rem + 40vmin, 30rem);
	padding: 15px 10px;
  }

  .slider img {


  }
  
  .slider--vertical i {
	aspect-ratio: 1;
	width: calc(var(--size) / 1.5);
	padding: calc(var(--size) / 6);
  }
  
  /* Parent wrapper */
  .wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin: auto;
	max-width: 100vw;
  }

  .img .dev-icons {
	max-width: 100%;
	height: auto;
	width: fit-content;
  }
