/* Global Styles */
:root {
  --primary: #5c9caf;
  --dark-salmon: rgb(255 88 73);
  --light-salmon: rgb(255 160 122);
  --light: #fafafa;
  --lighter: #f5f5f5;
  --dark: #2C2C2C;
  --grey: #979797;
  --light-grey: #eeecec;
  --dark-grey: #4d4d4d;
  --darker: #080808;
  --black: #000000;
  --blue: #7DA2A9;
  --light-blue: #B3E5F1;
  --yellow-1: #FDD935;
  --yellow-2: #E9BD43;
  --yellow-3: #F5B935;
  --purple: rgb(156, 70, 218);
	--purple2:rgb(206, 154, 245);
  --purple3: rgb(221, 173, 255);

  --violet: #9E7AE6;
  --violet-2: #7353be;
  --dark-violet: #3f1d82;
  --red: #E83939;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
	--gap: calc(var(--size) / 14);
	--duration: 60s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.bg-gray {
  background-color: var(--light-grey);
}

.bg-main {
	background-color: #0a0a0acf;
}

.text-mark {
  color: var(--violet);
  font-weight: 660;
  text-transform: uppercase;
  font-size: 1rem;
}

#resume-nav-link {
  color: var(--purple2);
  font-weight: 400;
}

#resume-nav-link:hover {
  color: var(--violet);
}

.bg-blur {
  --bs-bg-opacity: 1;
  background-color: #fafafab4;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px);
}

.bg-custom {
  background-color: rgb(58, 58, 58);
  color: #fafafa;
}

.text-lighter.text-center.display-1 {
  font-family: 'Futura-PT', sans-serif;
  letter-spacing: 30px;
  margin-top: 120px;
}

.section-title {
  letter-spacing: 2.35px;
  color: var(--dark-grey);
}

.text-grey {
  color: var(--dark-grey);
}

.text-lighter {
  font-family: 'Futura PT', sans-serif;
  color: var(--light-grey);
  font-weight: 450;
  text-shadow: 1px 1px 3px var(--dark-grey);
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1.3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:  0px 0px 7px #979797, 0 0 20px #979797, 0 0 10px #8e20f5, 0 0 20px #8e20f5, 0 0 25px #8e20f5, 0 0 30px #8e20f5, 0 0 35px #8e20f5;
  }
  
  to {
    text-shadow: 0 0 7px #979797, 0 0 15px #5709b0, 0 0 20px #5709b0, 0 0 25px #5709b0, 0 0 30px #5709b0, 0 0 70px #5709b0, 0 0 40px #5709b0;
  }
}

/*--------------------------------Main Page Content */
html {
  overflow: auto;
}

body {
  max-width: 100%;
  font-size: 16px;
  margin: 0px auto;
  overflow: hidden;
}

em {
  font-family: 'Futura-PT',
  sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  letter-spacing: .8;
}

strong {
  font-family: 'Futura-PT',
  sans-serif;
  font-weight: 800;
}

hr {
  border: 1px solid var(--violet);
  width: 75%;
  opacity: 1;
}

.subheading {
  font-weight: 400;
}

/*------------- Fixed Bottom Nav */
.navbar-dark .navbar-brand {
  color: var(--light-grey);
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: var(--violet);
  text-decoration: line-through;
}


a.nav-link,
#navbarCollapse,
.navbar-dark .navbar-nav .nav-link {
	color: var(--light);
}

a.nav-link, #navbarCollapse, .navbar-dark .navbar-nav .nav-link {
  color: var(--light);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--violet);
  /* text-shadow: 1px -1px 12px rgb(134, 37, 203); */
  text-decoration: line-through;
}

nav.navbar {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
}

.dropup .dropdown-menu[data-bs-popper] {
	background-color: var(--dark-2);
}

a.dropdown-item {
	color: var(--light);
}

a.cta-btn,
a#resumeBtn, .project-button {
  background-color: var(--dark-violet);
  color: #fafafa;
  box-shadow: 2px -2px 5px var(--grey);
  padding: 12px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  margin: 0 auto;
  font-size: 1.2rem;
}

a>button.project-button {
  text-decoration: none;
}

a.cta-btn:hover,
a#resumeBtn:hover, .project-button:hover {
  background-color: var(--violet);
  border: none;
  text-decoration: none;
  color: #fafafa;
  padding: 13px;
}


span.button-text {
  font-family: "Futura-PT", serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-dark {
  padding: 12px 15px;
  border: none;
}

.btn-dark:hover {
  background-color: #5c9caf;
  color: #fafafa;
}

.project-img {
  max-width: 100%;
  height: auto;
}

hr.folio-hr {
  width: 100%;
  border-top: 1px solid #777;
  background-color: #777;
}

.btn {
  font-family: 'Futura-PT', sans-serif;
  background-color: var(--black);
  text-transform: uppercase;
  box-shadow: 1px 4px 14px 1px rgba(46, 46, 46, 0.818);
  letter-spacing: 2px;
  font-weight: 520;
  padding: 15px 25px;
  border: none;
  color: var(--light);
}

.btn:hover {
  background-color: var(--violet);
  color: var(--light);
  border: none;
}

/*-------------------------------- Headers and text */
h1,
h2,
h3 {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
}

h1#title {
  margin: 0 auto;
  color: var(--dark);
}

#subtitle {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 8px;
  font-family: 'Futura-PT',
     sans-serif;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: 'Futura-PT', sans-serif;
}

/* ------------- Welcome */

/* ---------- Cover Page Navigation */
#welcome {
	overflow: auto;
	background-color: rgb(10, 10, 10);
	height: 100vh;
}

ul#nav {
	list-style: none;
}

#nav {
	display: flex;
	flex-direction: column;
	padding: clamp(2rem, 5vw, 6rem);
	margin-bottom: 20vh;
	height: auto;
}

#nav>li {
	color: var(--light);
	opacity: .65;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.85px;
	font-size: clamp(3rem, 6vw, 6rem);
	font-weight: 200;
	text-decoration: none;
	position: relative;
	list-style: none;
}

#nav>li:hover {
	color: var(--purple2);
	opacity: 1;
	letter-spacing: 3px;
	font-weight: 600;
}

#nav>li>span {
	display: block;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	position: relative;
	z-index: 2;
}

#nav>li:hover>span {
	border-top-color: var(--purple);
	border-bottom-color: var(--purple);
}

#nav>li>img {
	position: absolute;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.5);
	transition: transform 250ms, opacity 250ms;
	pointer-events: none;
	width: min(40vw, 500px);
}

#nav>li:hover>img {
	opacity: .35;
	transform: translate(-50%, -50%) scale(1);
}


/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/bg4.png");
  min-height: 400px;
}

.text-lighter.text-center.display-1 {
  font-family: 'Futura-PT', sans-serif;
  letter-spacing: 3px;
}

hr.project-divider {
  border-top: 1px solid #666;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dotted var(--grey);
  padding: 20px 0;
}

.project-item:nth-child(odd) {
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
}

.project-item:nth-child(even) {
  flex-direction: row-reverse;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  justify-items: center;
}

.layout__item--body {
  margin-left: 0;
  flex-grow: 9999;
  flex-basis: 15rem;
}

.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
  max-width: max-content;
  min-width: 15rem;
  flex-basis: 15rem;
  height: auto;
  flex-grow: 99999;
}

.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
}

/*-------------------------------- About Section */
#about {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(230, 230, 230, 0.75), rgba(255, 255, 255, 0.5)), url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  min-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

h5.role-heading {
  letter-spacing: 3.5px;
  color: var(--purple);

}

#portrait2 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-card {
	/* Box shadow #71 copied from https://getcssscan.com/css-box-shadow-examples */
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background: rgba( 250, 250, 250, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 500px;
	margin: auto;
	text-align: center;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 10px rgba(56, 56, 56, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 10px rgba(35, 35, 35, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 10px rgba(45, 45, 45, 0.6);
		transform: translatey(0px);
	}
}

.profile-about p {
	color: #0a0a0a;
	text-align: center;
	font-size: 1rem;
	margin: 30px 40px;
}

.profile-card .profile-header {
	text-align: center;
	position: relative;
	min-width: 100%;
  height: auto;
}

.profile-card .profile-header a > img {
	width: 150px;
	height: auto;
	border-radius: 50%;
  box-shadow: -10px 10px 10px rgba(42, 42, 42, 0.25);
}

a.resume-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

a.resume-link:hover {
  color: var(--violet);
}

/* --------------- Skills */
#skills {
	align-content: center;
	overflow: hidden;
	gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
	width: 100%;
	min-height: 100vh;
	font-size: 1rem;
	color: var(--light);
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.946), rgba(26, 25, 25, 0.712), rgba(18, 18, 18, 0.68)), url('../images/bg4.jpeg');
    background-repeat: no-repeat;
	  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
  
.slider {
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: calc(var(--size) / 14);
	mask-image: linear-gradient(
	  var(--mask-direction, to right),
	  hsl(0 0% 0% / 0),
	  hsl(0 0% 0% / 1) 20%,
	  hsl(0 0% 0% / 1) 80%,
	  hsl(0 0% 0% / 0)
	);
  }
  
  .slider__group {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
	animation: scroll-x 60s linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
	.slider__group {
	  animation-play-state: paused;
	}
  }
  
  .slider--vertical {
	--mask-direction: to bottom;
  }
  
  .slider--vertical,
  .slider--vertical .slider__group {
	flex-direction: column;
  }
  
  .slider--vertical .slider__group {
	animation-name: scroll-y;
  }
  
  .slider--reverse .slider__group {
	animation-direction: reverse;
	animation-delay: -3s;
  }
  
  @keyframes scroll-x {
	from {
	  transform: translateX(var(--scroll-start));
	}
	to {
	  transform: translateX(var(--scroll-end));
	}
  }
  
  @keyframes scroll-y {
	from {
	  transform: translateY(var(--scroll-start));
	}
	to {
	  transform: translateY(var(--scroll-end));
	}
  }
  
  /* Element styles */
  .slider i  {
	display: grid;
	place-items: center;
	width: clamp(10rem, 1rem + 40vmin, 30rem);
	color: var(--light);
	background: rgb(156, 70, 218);
	padding: 50px;
	border-radius: 0.5rem;
	font-size: 5em;
	margin-top: 50px;
  }


  .slider svg, 
  .slider figure {
	background: rgb(156, 70, 218);
	fill: var(--light);
	width: clamp(10rem, 1rem + 40vmin, 30rem);
	padding: 15px 10px;
  }

  
  .slider--vertical i {
	aspect-ratio: 1;
	width: calc(var(--size) / 1.5);
	padding: calc(var(--size) / 6);
  }
  
  /* Parent wrapper */
  .wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin: auto;
	max-width: 100vw;
  }

  .img .dev-icons {
	max-width: 100%;
	height: auto;
	width: fit-content;
  }


/*-------------------------------- Portfolio Section */
#portfolio-text, #portfolioText {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    line-height: 2;
    margin: 10px 0;
}

.project-details {
}

img {
  margin: 0 auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.portfolio-image {
  max-width: 100%;
  height: auto;
}

.project-item {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  vertical-align: middle;

}

.portfolio-image {
  -webkit-backdrop-filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
}

.portfolio-image:hover {
  max-width: 100%;
  height: auto;
  animation: forwards .5s;
}

.awards {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1rem;
  margin: 6.5px 0;
  font-weight: 500;
  color: #416e7c;
}

button.project-button {
  margin: 5px 0;
}

p.text-muted {
  margin-bottom: 20px;
}

.img-wrapper,
.img-wrapper--reverse {
  max-width: 100%;
  position: relative;
  display: flex;
  height: auto;
  overflow: hidden;
}

.img-wrapper,
.img-wrapper--reverse {
  width: 800px;
  background-color: transparent;
  border: none;
  display: flex;
  max-width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}

.img-wrapper:hover,
.img-wrapper--reverse:hover  {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

/*-------------------------------- Contact Section */

#contact {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

#contact-details {
  font-family: 'Futura-PT',
  sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

#contact-form {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1rem;
    letter-spacing: .2px;
    margin: 5px 30px;
}

.w3-col.m8.w3-panel {
   font-family: 'Futura-PT',
   sans-serif;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 300;
}

img {
  margin: 0 auto;
  padding-top: 20px;
}

.fas.fa-map-marker.w3-large,
.fas.fa-phone.w3-large,
.fas.fa-envelope.w3-large {
  margin-right: 10px;
  margin-left: 20px;
}

.text-lighter.text-center.display-1 {
  font-family: 'Futura-PT', sans-serif;
  letter-spacing: 15px;
  margin-top: 90px;
}

/*-------------------------------- Contact Form */
.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 1rem;
  font-family: 'Futura-PT', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light);
  background-color: transparent;
  border: none;
}
/*------------------------- Footer */
footer {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#footer-text {
    font-family: 'Playfair Display',
    serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

.w3-button.w3-light-grey {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
}

a#footer-link {
  text-decoration-line: none;
}
a#footer-link:hover {
  text-decoration-line: line-through;
}

#btn-back-to-top {
  position: fixed;
  top: 25px;
  right: 35px;
  display: none;
  color: var(--black);
  z-index: 1000;
  /* box-shadow: 1px 3px 6.5px rgba(105, 105, 105, 0.399); */
}

.cta {
	margin: 13% auto;
	width: 50px;
  height: 50px;
	text-align: center;
	padding: 30px;
	overflow: hidden;
}

a.cta-link {
	padding: 20px 5px;
	border: 1px solid #FF8D81;
  font-family: 'Futura-PT, sans-serif';
  text-transform: uppercase;
  font-weight: 400;
	margin: 10% auto;
	border-radius: 50%;
	float: right;
	color: #FF8D81;
	text-decoration: none;
	text-align: center;
	-moz-box-shadow: inset 503px 600px 0 -703px rgba(250, 250, 250, 0.04);
	-webkit-box-shadow: inset 503px 600px 0 -703px rgba(250, 250, 250, 0.04);
	box-shadow: inset 503px 600px 0 -703px rgba(250, 250, 250, 0.04);
}

a.cta-link:hover {
	-moz-box-shadow: 0 0 50px #FF8080, inset 503px 600px 0 -703px rgba(250, 250, 250, 0.04);
	-webkit-box-shadow: 0 0 50px #FF8080, inset 503px 600px 0 -703px rgba(250, 250, 250, 0.04);
	box-shadow: 0 0 50px #FF8080, inset 503px 600px 0 -703px rgba(250, 250, 250, 0.04);
}


.btn-trans {
  background-color: transparent;
  padding: 0 0;
  margin: 0 auto;
  border: none;
}

.btn-custom {
  margin: 10px;
  background-color: var(--violet);
  color: #fafafa;
}

.btn-custom:hover {
  background-color: rgb(55, 55, 55);
  color: #fafafa;
  z-index: 1;
}

i.fas.fa-chevron-up.fa-2x {
  color: var(--violet);
  text-shadow: 1px 1px 5px var(--grey);
  margin: 10px 15px;
}

i.fas.fa-chevron-up.fa-2x:hover {
  color: var(--violet);
}

/*--------------------------------  Media Queries */
  @media only screen and (min-width: 768px) {
      h1.text-center.text-lighter.display-1 {
        padding-top: 50px;
      }
      form#contact-form {
        padding: 40px 0;
        margin-bottom: 30px;
      }
      .col-12.col-md-6.my-0.mx-auto.justify-content-center.text-center {
        padding: 40px 0;
      }
      .bgimg-1,
      .bgimg-2,
      .bgimg-3 {
        background-attachment: scroll;
        min-height: 450px;
      }
      .project-item:nth-child(odd) {
        /* background: rgba( 255, 255, 255, 0.25 ); */
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 10px;
        text-align: end;
      }
      .img-wrapper--reverse:hover  {
        transform: matrix3d(0.94, 0, 0.34, 0.00025, 0, 1, 0, 0, 0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
      }
      
      .img-wrapper:hover {
        transform: matrix3d(0.94, 0, 0.34, -0.00025, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-30px);
      }
    }
