@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');


html,
body {
  scroll-behavior: smooth;
}

/* .navbar-brand {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 5px;
  color: #030303;
  font-family: 'Playfair Display',
   serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #777;
} */

nav {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
}

.bg-blur {
  --bs-bg-opacity: 1;
  background-color: #fafafab4;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px);
}

.bg-custom {
  background-color: rgb(58, 58, 58);
  color: #fafafa;
}

/*--------------------------------Main Page Content */
html {
  overflow: auto;
}

body {
  max-width: 100%;
  font-size: 16px;
  margin: 0px auto;
  overflow: hidden;
}

em {
  font-family: 'Futura-PT',
  sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  letter-spacing: .8;
}

strong {
  font-family: 'Futura-PT',
  sans-serif;
  font-weight: 800;
}

hr {
  border: 1px solid #666;
  width: 50px;
  padding: 1px 0px;
  background-color: #666;
  opacity: 1;
}

a.w3-button.w3-black.w3-padding-large.w3-margin-top.aos-init.aos-animate {
  font-family: 'Futura-PT', sans-serif;
}

.nav-top {
  top:0
}

.w3-bar{
  width:100%;
  overflow:hidden
}

.nav-bar {
  width:100%;
  overflow:hidden;
}

.w3-center 
.w3-bar{
  display:inline-block;
  width:auto
}

/*----------------------------------Navbar */
.navbar-light .navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #000;
  text-shadow: 1px 3px 5px rgba(119, 119, 119, 0.605);
}

.navbar-light .navbar-brand:hover {
  color: #5c9caf;
}

.fab.fa-github ,
.fab.fa-linkedin ,
.fab.fa-twitter ,
.fas.fa-envelope  {
  padding: 10px 5px;
  font-size: 1.36rem;
}

.fab.fa-github:hover,
.fab.fa-linkedin:hover,
.fab.fa-twitter:hover,
.fas.fa-envelope:hover {
  color: #5c9caf;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(16, 12, 12);
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover,
li.nav-item:hover,
a.nav-link:hover {
  color: #5c9caf;
  /* text-shadow: 1px 1px 3px #666; */
}

a.w3-bar-item.w3-button { 
 font-size: 1.1rem;
 font-weight: 400;
 margin-top: 5px;
/* color: #030303; */
 font-family: 'Playfair Display',
  serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #777;
}

a.w3-bar-item.w3-button:hover {
  text-decoration-line: line-through;
  background-color: transparent;
}

.w3-bar-item {
   background-color: transparent;
}

.fa.fa-bars {
  font-size: 2rem;
  background-color: transparent;
}

#myNavbar {
  background-color: rgba(255, 255, 255, 0.8);
}


a.cta-btn,
a#resumeBtn, .project-button {
  background-color: rgba(4, 6, 7, 0.891);
  color: #fafafa;
  box-shadow: 3px 3px 6px #666;
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  width: fit-content;
  margin: 0 auto;
}

a.cta-btn:hover,
a#resumeBtn:hover, .project-button:hover {
  background-color: #5c9caf;
  border: none;
  text-decoration: none;
  color: #fafafa;
  padding: 13px;
}


span.button-text {
  font-family: "Futura-PT", serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-row {
  
}

.project-img {
  max-width: 100%;
  height: auto;
}

hr.folio-hr {
  width: 100%;
  border-top: 1px solid #777;
  background-color: #777;
}

/*-------------------------------- Headers and text */
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #777;
  color: #000;
}

h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}


h6 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#subtitle {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 8px;
  font-family: 'Futura-PT',
     sans-serif;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: 'Futura-PT', sans-serif;
}

span#name {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px auto;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-family: 'Futura-PT', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

.w3-black {
  padding: 10px 30px;
  margin: 0px auto;
}

.w3-text-white.w3-wide {
   font-family: 'Futura-PT',
     sans-serif;
   text-transform: uppercase;
    letter-spacing: 2;
    text-shadow: 1px 3px 6px #777474;
    font-size: 2.8rem;

}

/*-------------------------------- Hero */
#home {
  height: 100vh;
}

#hero-buttons {
  font-family: 'Futura-PT', sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0 10px;
}

/*-------------------------------- Background Images */
/* Create a Parallax Effect - copied from w3schools.com */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) - copied from w3schools.com */
.bgimg-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)),
  url('../images/deskspace.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('../images/wireframes.jpg');
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/keyboard.jpg");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.project-container {

}

hr.project-divider {
  border-top: 1px solid #666;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em; 
  margin-left: -3.5em; 
  align-items: center;
}

.layout:not(:first-of-type) {
  margin-top: 3em;
}

.layout:nth-child(even) {
  flex-direction: row-reverse;
}

.layout__item {
}

.layout__item--body {
  margin-left: 0;
  flex-grow: 9999;
  flex-basis: 15rem;
}

.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
  max-width: max-content;
  min-width: 15rem;
  flex-basis: 15rem;
  height: auto;
  flex-grow: 99999;
}
/* 
.img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
} */

.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
}
/*-------------------------------- About Section */
p.w3-wide {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 5px;
  margin: 10px 0px;
}

p#about-me\ mx-3\ px-3 {
  margin: 10px 30px;
}

#skill-icons {
  font-size: 1.3rem;
  color: #000;
  text-shadow: 3px 1px 3px darkgray;
}

#portrait2 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#about-me {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1.1rem;
  letter-spacing: .2px;
  margin: 0px 30px;
}

#skills-section {
}

#skills-row {
  margin: 0px auto;
  padding: 10px 20px;
}

#skillsHeader {
  margin: 30px 0px;
  font-family: 'Playfair Display',
  serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #777;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #777;
  margin-top: 30px;
}

#my-skills {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1rem;
}

h4.skills-header {
  margin-bottom: 40px;
  font-family: 'Futura-PT', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 2px;
}

i#python:hover, i#javascript:hover,
i#html:hover, i#css:hover,
i#sql:hover, i#git:hover, i#aws:hover,
i#google:hover, i#react:hover  {
  color: #5c9caf;
  font-size: 3.5rem;
}


/*-------------------------------- Portfolio Section */
#portfolio-text, #portfolioText {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    line-height: 2;
    margin: 10px 0;
}

img {
  margin: 0 auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.portfolio-image {
  max-width: 100%;
  height: auto;
}

.project-row {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  padding: 0 0;
}

.portfolio-image:hover {
  max-width: 100%;
  height: auto;
  animation: forwards .5s;
}

.project-description {
  font-family: 'Futura-PT', sans-serif;
  margin: 10px 10px 90px 0px;
  text-align: justify;
  font-size: 1rem;
}

.awards {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1rem;
  margin: 6.5px 0;
  font-weight: 500;
  color: #416e7c;
}

.project-item {
  vertical-align: middle;
  /* width: 100vw;
  height: 500px; */
  padding: 20px 40px;
}

p.text-muted {
  margin-bottom: 20px;
}

.img-wrapper {
  width: 600px;
  max-width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  filter:  drop-shadow(5px 5px 10px rgba(84, 84, 84, 0.641)) opacity(.6) blur(.25px);
}

.img-wrapper:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(5px 5px 15px #000);
}

/* .folio-img {
  transform: matrix3d(0.94, 0, 0.34, -0.00025, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}

.folio-img:hover {
  transform: matrix3d(0.94, 0, 0.34, -0.00025, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-30px);

} */

/*-------------------------------- Contact Section */
#contact-details {
  margin-bottom: 50px;
  font-family: 'Futura-PT',
  sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

#contact-form {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1rem;
    letter-spacing: .2px;
    margin: 5px 30px;
}

.w3-col.m8.w3-panel {
   font-family: 'Futura-PT',
   sans-serif;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 300;
}

img {
  margin: 0 auto;
  padding-top: 20px;
}

.fas.fa-map-marker.w3-large,
.fas.fa-phone.w3-large,
.fas.fa-envelope.w3-large {
  margin-right: 10px;
  margin-left: 20px;
}

/*-------------------------------- Contact Form */
.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #000;
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  color: #fff;
  border: none;
}
/*------------------------- Footer */
footer {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#footer-text {
    font-family: 'Playfair Display',
    serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

.w3-button.w3-light-grey {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
}

a#footer-link {
  text-decoration-line: none;
}
a#footer-link:hover {
  text-decoration-line: line-through;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  box-shadow: 1px 4px 8px rgb(47, 47, 47);
}

.btn-custom {
  margin: 10px;
  background-color: #5c9caf;
  color: #fafafa;
}

.btn-custom:hover {
  background-color: rgb(55, 55, 55);
  color: #fafafa;
  z-index: 1;
}

/*--------------------------------  Media Queries */
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 4.5rem;
    font-family: 'Futura-PT', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
  }  
}

@media (min-width: 992px)  {
.img-wrapper {
  width: 800px;
  background-color: transparent;
  border: none;
  display: flex;
  max-width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  filter:  drop-shadow(0px 0px 5px rgba(84, 84, 84, 0.641)) opacity(.6) blur(.25px);
}

.img-wrapper:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 15px rgba(84, 84, 84, 0.641));
}

  }

