@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

/* Global Styles */
:root {
  --primary: #5c9caf;
  --salmon: rgb(255 124 95);
  --dark-salmon: rgb(255 88 73);
  --light-salmon: rgb(255 160 122);
  --light: #fafafa;
  --lighter: #f5f5f5;
  --dark: #2C2C2C;
  --grey: #979797;
  --light-grey: #e6e6e6;
  --dark-grey: #4d4d4d;
  --darker: #080808;
  --black: #000000;
  --blue: #7DA2A9;
  --light-blue: #B3E5F1;
  --yellow-1: #FDD935;
  --yellow-2: #E9BD43;
  --yellow-3: #F5B935;
  --violet: #9E7AE6;
  --red: #E83939;
}


body {
  background-color: #fafafab4;
}


a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

.text-mark {
  color: var(--salmon);
  font-weight: 660;
  text-transform: uppercase;
  font-size: 1rem;
}

nav {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
}

.bg-blur {
  --bs-bg-opacity: 1;
  background-color: #fafafab4;
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px);
}

.bg-custom {
  background-color: rgb(58, 58, 58);
  color: #fafafa;
}

/*--------------------------------Main Page Content */
html {
  overflow: auto;
}

body {
  max-width: 100%;
  font-size: 16px;
  margin: 0px auto;
  overflow: hidden;
}

em {
  font-family: 'Futura-PT',
  sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  letter-spacing: .8;
}

strong {
  font-family: 'Futura-PT',
  sans-serif;
  font-weight: 800;
}

hr {
  border: 1px solid #666;
  width: 50px;
  padding: 1px 0px;
  background-color: #666;
  opacity: 1;
}

a.w3-button.w3-black.w3-padding-large.w3-margin-top.aos-init.aos-animate {
  font-family: 'Futura-PT', sans-serif;
}

.nav-top {
  top:0
}

.w3-bar{
  width:100%;
  overflow:hidden
}

.nav-bar {
  width:100%;
  overflow:hidden;
}

.w3-center 
.w3-bar{
  display:inline-block;
  width:auto
}

/*----------------------------------Navbar */
.navbar-light .navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #000;
  text-shadow: 1px 3px 5px rgba(119, 119, 119, 0.605);
}

.navbar-light .navbar-brand:hover {
  color: var(--dark-salmon);
}

.fab.fa-github ,
.fab.fa-linkedin ,
.fab.fa-twitter ,
.fas.fa-envelope  {
  padding: 10px 5px;
  font-size: 1.36rem;
}

.fab.fa-github:hover,
.fab.fa-linkedin:hover,
.fab.fa-twitter:hover,
.fas.fa-envelope:hover {
  color: var(--dark-salmon);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(16, 12, 12);
  letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover,
li.nav-item:hover,
a.nav-link:hover {
  color: var(--dark-salmon);
  /* text-shadow: 1px 1px 3px #666; */
}

a.w3-bar-item.w3-button { 
 font-size: 1.1rem;
 font-weight: 400;
 margin-top: 5px;
/* color: #030303; */
 font-family: 'Playfair Display',
  serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #777;
}

a.w3-bar-item.w3-button:hover {
  text-decoration-line: line-through;
  background-color: transparent;
}

.w3-bar-item {
   background-color: transparent;
}

.fa.fa-bars {
  font-size: 2rem;
  background-color: transparent;
}

#myNavbar {
  background-color: rgba(255, 255, 255, 0.8);
}


a.cta-btn,
a#resumeBtn, .project-button {
  background-color: rgba(4, 6, 7, 0.891);
  color: #fafafa;
  box-shadow: 3px 3px 6px #666;
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  width: fit-content;
  margin: 0 auto;
}

a.cta-btn:hover,
a#resumeBtn:hover, .project-button:hover {
  background-color: var(--dark-salmon);
  border: none;
  text-decoration: none;
  color: #fafafa;
  padding: 13px;
}


span.button-text {
  font-family: "Futura-PT", serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-dark {
  padding: 12px 15px;
  border: none;
}

.btn-dark:hover {
  background-color: #5c9caf;
  color: #fafafa;
}

.project-img {
  max-width: 100%;
  height: auto;
}

hr.folio-hr {
  width: 100%;
  border-top: 1px solid #777;
  background-color: #777;
}

.btn {
  font-family: 'Futura-PT', sans-serif;
  background-color: var(--black);
  text-transform: uppercase;
  box-shadow: 1px 4px 14px 1px rgba(46, 46, 46, 0.818);
  letter-spacing: 2px;
  font-weight: 520;
  padding: 15px 25px;
  border: none;
  color: var(--light);
}

.btn:hover {
  background-color: var(--dark-salmon);
  color: var(--light);
  border: none;
}

/*-------------------------------- Headers and text */
h1#title, .title {
	letter-spacing: 3px;
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}
/* 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura-PT', sans-serif;
}

h2.section-title {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5.3px;
  font-size: 2.5rem;
  color: rgb(23, 4, 31);
  text-shadow: 0.05em 0.05em 0.2em rgba(75, 75, 75, 0.9);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
} */

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(121, 121, 121, 0.495);
  /* text-shadow: 1px 1px 2px #777; */
}

h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h1#title {
  /* background-color: var(--black); */
  /* padding: 20px 5px; */
  margin: 0 auto;
  /* width: fit-content; */
  color: var(--dark);
}


h6 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#subtitle {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 8px;
  font-family: 'Futura-PT',
     sans-serif;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: 'Futura-PT', sans-serif;
}

span#name {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px auto;
  text-align: center;
}

.w3-black {
  padding: 10px 30px;
  margin: 0px auto;
}

.w3-text-white.w3-wide {
   font-family: 'Futura-PT',
     sans-serif;
   text-transform: uppercase;
    letter-spacing: 2;
    text-shadow: 1px 3px 6px #777474;
    font-size: 2.8rem;

}

/* -------------------------------------- Jumbotron -------------------------------------- */

/* https://css-tricks.com/perfect-full-page-background-image/ */


/* -------------------------------------- Jumbotron -------------------------------------- */

/* https://css-tricks.com/perfect-full-page-background-image/ */
.jumbotron-container {
	/* background: linear-gradient(rgba(25, 24, 24, 0.478), rgba(16, 16, 16, 0.5)), url('../images/bg2.png') no-repeat center center fixed; */
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(230, 230, 230, 0.75), rgba(255, 255, 255, 0.5)), url('../images/bg.jpg') no-repeat center center fixed;
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -o-animation: fadein 5s;
  /* background-color:  rgb(227, 71, 57); */
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  min-height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.jumbotron-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.jumbotron-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
}

#home-text {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  /* color: var(--light); */
  color: var(--black);
  font-weight: 900;
  /* text-shadow: 1px 1px 6px var(--light-grey); */
}

.typewriter {
    width: auto;
    border-right: .15em solid var(--red); /* The typwriter cursor */
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; Keeps the content on a single line
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    /* animation:  typing 3.5s steps(100, end), blink-caret .75s step-end infinite; */
    animation: typing 4.5s steps(100,end), blink-caret .75s step-end infinite;
    }

@keyframes typing{
  from {max-width: 0}
  to {max-width: 100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
}

#typed {
  text-shadow: 1px 1px 3px rgb(40, 39, 39);
  font-weight: 500;
  font-size: 1.2rem;
}


/* -------------------------------------- Jumbotron -------------------------------------- */
#home-text {
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  /* color: var(--light); */
  color: var(--black);
  font-weight: 900;
  /* text-shadow: 1px 1px 6px var(--light-grey); */
}

.typewriter {
    width: auto;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; Keeps the content on a single line
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    /* animation:  typing 3.5s steps(100, end), blink-caret .75s step-end infinite; */
    animation: typing 4.5s steps(100,end), blink-caret .75s step-end infinite;
    }

@keyframes typing{
  from {max-width: 0}
  to {max-width: 100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
}

#typed {
  text-shadow: 1px 1px 3px rgb(40, 39, 39);
  font-weight: 500;
  font-size: 1.2rem;
}

#typed-small-screens {
  font-family: 'Futura-PT', sans-serif;
  font-weight: 600;
  color: var(--dark-salmon);
  font-size: 1.65rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*-------------------------------- Background Images */
/* Create a Parallax Effect - copied from w3schools.com */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) - copied from w3schools.com */
.bgimg-1 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)),
  url('../images/deskspace.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('../images/wireframes.jpg');
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/keyboard.jpg");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.project-container {

}

hr.project-divider {
  border-top: 1px solid #666;
}

.layout, .project-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dotted var(--grey);

}

.project-item:nth-child(odd) {
  /* border: 5px dotted #666; */
  background: rgba( 255, 255, 255, 0.25 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
}


.project-item:nth-child(even) {
  flex-direction: row-reverse;
  /* background: rgba( 255, 255, 255, 0.5 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  justify-items: center;
}


.layout__item--body {
  margin-left: 0;
  flex-grow: 9999;
  flex-basis: 15rem;
}

.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
  max-width: max-content;
  min-width: 15rem;
  flex-basis: 15rem;
  height: auto;
  flex-grow: 99999;
}
/* 
.img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
} */

.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
}
/*-------------------------------- About Section */
p.w3-wide {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 5px;
  margin: 10px 0px;
}

p#about-me\ mx-3\ px-3 {
  margin: 10px 30px;
}

#skill-icons {
  font-size: 1.3rem;
  color: #000;
  text-shadow: 3px 1px 3px darkgray;
}

#portrait2 {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#about-me {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1.1rem;
  letter-spacing: .2px;
  margin: 0px 30px;
}

#skills-section {
}

#skills-row {
  margin: 0px auto;
  padding: 10px 20px;
}

#skillsHeader {
  margin: 30px 0px;
  font-family: 'Playfair Display',
  serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #777;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #777;
  margin-top: 30px;
}

#my-skills {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1rem;
}

h4.skills-header {
  margin-bottom: 40px;
  font-family: 'Futura-PT', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 2.2px;
  margin-top: 25px;
}

i#python:hover, i#javascript:hover,
i#html:hover, i#css:hover,
i#sql:hover, i#git:hover, i#aws:hover,
i#google:hover, i#react:hover  {
  color: var(--dark-salmon);
  font-size: 3.5rem;
}


/*-------------------------------- Portfolio Section */
#portfolio-text, #portfolioText {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    line-height: 2;
    margin: 10px 0;
}

.project-details {
}

img {
  margin: 0 auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.portfolio-image {
  max-width: 100%;
  height: auto;
}

.project-item {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  vertical-align: middle;

}

.portfolio-image {
  -webkit-backdrop-filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
}

.portfolio-image:hover {
  max-width: 100%;
  height: auto;
  animation: forwards .5s;
}

.awards {
  font-family: 'Futura-PT', sans-serif;
  font-size: 1rem;
  margin: 6.5px 0;
  font-weight: 500;
  color: #416e7c;
}

button.project-button {
  margin: 5px 0;
}

p.text-muted {
  margin-bottom: 20px;
}

.img-wrapper {
  max-width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}

.img-wrapper:hover {
  height: auto;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(0);
}

/* .folio-img {
  transform: matrix3d(0.94, 0, 0.34, -0.00025, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}

.folio-img:hover {
  transform: matrix3d(0.94, 0, 0.34, -0.00025, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-30px);

} */

/*-------------------------------- Contact Section */
#contact-details {
  margin-bottom: 50px;
  font-family: 'Futura-PT',
  sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

#contact-form {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1rem;
    letter-spacing: .2px;
    margin: 5px 30px;
}

.w3-col.m8.w3-panel {
   font-family: 'Futura-PT',
   sans-serif;
   font-size: 1rem;
   letter-spacing: 1px;
   font-weight: 300;
}

img {
  margin: 0 auto;
  padding-top: 20px;
}

.fas.fa-map-marker.w3-large,
.fas.fa-phone.w3-large,
.fas.fa-envelope.w3-large {
  margin-right: 10px;
  margin-left: 20px;
}

/* ------------------------------- Carousel */

#projects {
  margin: 0 auto;
}

#toggleContainer label { 
  text-align: center;
  width: 70px;
}

#container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

#toggleContainer {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}

#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  
}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  
  transition: all 0.5s ease;
}

.tileItem:hover {
   transform: scale(1.05);
  transition: all 0.5s ease;
}

#galleryContainer { 
  height: 500px;
  width: 800px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  width: 100vw;
  background: rgb(246,210,106);
  background: linear-gradient(111deg, rgba(246,210,106,1) 0%, rgba(255,159,0,1) 52%, rgba(251,197,100,1) 100%);
  display: none;
  justify-content: center;
  align-items: center;
  
}

#galleryView {
  height: 100vh;
  width: 100vw;
  background: rgb(246,210,106);
  background: linear-gradient(111deg, rgba(246,210,106,1) 0%, rgba(255,159,0,1) 52%, rgba(251,197,100,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3 {
  width: 100px;
  height: 40px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: orange;
  border-radius: 3px;  
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  -ms-transform: translatex(50px);
  -o-transform: translatex(50px);
  transform: translatex(50px);
  transition: all 0.5s;
  background-color: orange;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 450px;  
  border-radius: 5px;
  background-color: #eb9100;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;  
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;   
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;  
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
 transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag { 
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

/*-------------------------------- Contact Form */
.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 1rem;
  font-family: 'Futura-PT', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light);
  background-color: transparent;
  border: none;
}
/*------------------------- Footer */
footer {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#footer-text {
    font-family: 'Playfair Display',
    serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

.w3-button.w3-light-grey {
    font-family: 'Futura-PT',
    sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
}

a#footer-link {
  text-decoration-line: none;
}
a#footer-link:hover {
  text-decoration-line: line-through;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: var(--black);
  /* box-shadow: 1px 3px 6.5px rgba(105, 105, 105, 0.399); */
}

.btn-trans {
  background-color: transparent;
  padding: 0 0;
  margin: 0 auto;
  border: none;
}

.btn-custom {
  margin: 10px;
  background-color: var(--salmon);
  color: #fafafa;
}

.btn-custom:hover {
  background-color: rgb(55, 55, 55);
  color: #fafafa;
  z-index: 1;
}

i.fas.fa-chevron-up.fa-2x {
  color: var(--dark-salmon);
  text-shadow: 1px 1px 5px var(--grey);
  margin: 10px 15px;
}

i.fas.fa-chevron-up.fa-2x:hover {
  color: var(--salmon);
}

/*--------------------------------  Media Queries */
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (min-width: 992px)  {
 
.img-wrapper {
  width: 800px;
  background-color: transparent;
  border: none;
  display: flex;
  max-width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  filter: grayscale(100%);
}

.img-wrapper:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

  }

