{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="section-title">My Dev Projects</h1>
<div class="row g-4 text-center p-3 m-5">
{% for project in projects %}
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card h-100 mb-2">
            <div class="card h-100 border-0" id=project-card>
                {% if project.picture %}
                <a href="{% url 'project_detail' project.id %}">
                    <img class="card-img-top h-100 img-fluid" src="/media/{{ project.picture }}" alt="{{ project.picture }}">
                </a>
                {% else %}
                <a href="{% url 'project_detail' project.id %}">
                    <img class="card-img-top img-fluid h-100" src="{{ MEDIA_URL }}matrix-code_copy.jpg" alt="{{ project.title }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <h4 class="mb-2 display-font heading-sm">{{ project.title }}</h4>
                     <p class="body-small my-2 text-muted">{{ project.technologies }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            {% if project.category %}
                            <p class="body-small body-font mt-1 mb-0">
                                <a class="text-muted" href="{% url 'project' %}?category={{ project.category.title }}">
                                    <i class="fas fa-tag mr-1"></i>{{ project.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>

                <p class="card-text">{{ project.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}