{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="masonry" data-masonry='{"percentPosition": true }'>
    <div class="grid">
      <img src="https://source.unsplash.com/random/1">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/2">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/3">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/4">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/5">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/6">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/7">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/8">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/9">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/10">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/11">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
    <div class="grid">
      <img src="https://source.unsplash.com/random/12">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/19">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/20">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/13">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div> 
    <div class="grid">
      <img src="https://source.unsplash.com/random/14">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/15">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/16">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/17">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
     <div class="grid">
      <img src="https://source.unsplash.com/random/18">
      <div class="grid__body">
        <div class="relative">
          <a class="grid__link" target="_blank" href="/" ></a>
          <h1 class="grid__title">Title 1</h1>
          <p class="grid__author">Mario Rossi</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">#tag1</span>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}