{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="section-title">My Dev Projects</h1>
    <div class="container-fluid text-light py-5 my-5 bg-dark" id="projects">
        <div class="row d-flex g-4 text-center p-3 m-5">
        {% for project in projects %}
            <div class="col-xs-6 col-sm-6">
                <div class="card h-100 overflow-hidden rounded-5 img-fluid" id="project-card">
                    <img class="card-img" src="/media/{{ project.picture }}" alt="{{ project.title }}">
                    <div class="card-image-overlay">
                        <div class="py-3 my-3 fw-bold">
                            <h3>{{ project.title }}</h3>
                            <p class="text-small my-2">{{ project.description }}</p>
                            <div class="row d-flex">
                                <div class="mb-3">
                                    <button type="button" class="btn btn-white btn-sm mb-3">
                                        <a class="view-projects text-dark" href="{{ project.url }}">View Project</a>
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-white btn-sm mb-3">
                                        <a class="view-projects text-dark" href="{{ project.repository }}">Source
                                            Code</a>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}