{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5 my-0 mx-auto">
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="title text-center display-1">{{ project.title }}</h1>
        </div>
    </div>
    <div class="card border-0">
        <div class="row d-flex justify-content-center mt-3 mt-lg-5">
            <div class="col-12 col-sm-6 my-0 mx-auto text-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="project-picture"> 
                        <img src="/media/{{ project.picture }}" alt="{{ project.title }}" class="img-fluid">
                   </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ project.description }}</h3> 
                    </div>
                    <div class="mt-2 content">
                        <p>{{ project.technologies }}</p>
                    </div>

                    <div class="buttons d-flex flex-row mt-5 gap-3"> 
                        <a class="btn btn-outline-dark" href="{{ project.link }}" target="_blank">Live Project</a>
                         <a class="btn btn-dark" href="{{ project.repository }}" target="_blank">Source Code</a> 
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}