{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <div class="container py-5 my-0 mx-auto">
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="title text-center display-1">{{ project.title }}</h1>
        </div>
    </div>
    <div class="card border-0">
        <div class="row d-flex justify-content-center mt-3 mt-lg-5">
            <div class="col-12 col-sm-6 my-0 mx-auto text-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="project-picture"> 
                        <img src="/media/{{ project.picture }}" alt="{{ project.title }}" class="img-fluid">
                   </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ project.description }}</h3> 
                    </div>
                    <div class="mt-2 content">
                        <p>{{ project.technologies }}</p>
                    </div>

                    <div class="buttons d-flex flex-row mt-5 gap-3"> 
                        <a class="btn btn-outline-dark" href="{{ project.link }}" target="_blank">Live Project</a>
                         <a class="btn btn-dark" href="{{ project.repository }}" target="_blank">Source Code</a> 
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</div> -->
<section class="container-fluid py-5 my-1 my-md-4 my-lg-5">
  <div class="row d-flex justify-content-center align-items-center text-center pb-2">
        <div class="col-12">
            <h1 class="title text-center display-1 fw-bold">{{ project.title }}</h1>
        </div>
        <div class="col-12">
          <div class="img-wrapper">
            <img src="/media/{{ project.photo }}" alt="{{ project.title }}" class="img-fluid project-pic">
          </div>
        </div>
    </div>

    <div class="row g-3 px-3 px-md-4">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="pe-lg-4 me-lg-3 pe-xl-0 me-xl-0">
          <h2 class="h1 mb-4">
            <i class="fas fa-info-circle me-2"></i>
            About</h2>
          <p class="fs-lg mb-0">{{ project.description }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 offset-xl-1 border-start-lg">
        <div class="ps-lg-4 ms-lg-3">
          <h3 class="h5 d-flex align-items-center">
            <i class="fas fa-question me-2"></i>
            Problem
          </h3>
          <p class="pb-4  my-1">{{ project.problem }}</p>
          <h3 class="h5 d-flex align-items-center">
            <i class="fas fa-lightbulb me-2"></i>
            Solution
          </h3>
          <p class="mb-0">{{ project.solution }}</p>
         </div>
      </div>
    </div>
  </section>
  {% endblock %}


