{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% load youtube_filters %}


{% block content %}
<section class="container-fluid mt-5" id="projectDetail">
  <div class="row d-flex my-0 mx-auto pt-3">
    <div class="col-12 col-sm-7 mt-3">
      <h1 class="display-5 folio-title text-center text-sm-start my-sm-5 mt-3 pb-2">{{ project.title }}
      <span class="text-light-purple mt-4">{{ project.name }}</span></h1>
    </div>
    <div class="col-12 col-sm-5 text-center text-sm-end mt-3">
            <p class="tech-stack my-sm-5 py-2 py-sm-4 me-2 me-sm-4">
        {% for tech in project.technologies.all %}
          <span class="badge bg-prime me-1">{{ tech.name }}</span>
        {% empty %}
          No technologies specified
        {% endfor %}
      </p>
    </div>
    </div>
  <div class="row d-flex justify-content-center">
    <!-- Left column: Video or Image -->
    <div class="col-12 col-sm-6">
      <div class="pe-lg-4 me-lg-3 pe-xl-0 me-xl-0">
        {% if project.video_link %}
        <div class="embed-responsive text-center align-items-center justify-content-center ratio ratio-16x9">
                  <iframe width="560" height="315" src="{{ project.video_link|youtube_embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
                </div>
        {% else %}
        <div class="project-picture text-center">
          <img src="/media/{{ project.photo }}" alt="{{ project.title }}" class="project-img img-fluid">
        </div>
        {% endif %}
      </div>
        {% if project.link %}
    <div class="row my-3 mx-auto d-flex justify-content-center py-2">
        <div class="col-6">
          <a href="{{ project.link }}" target="_blank">
            <button class="project-button ms-5">See Project <i class="fas fa-chevron-right"></i></button>
          </a>
      </div>
      {% endif %}
      {% if project.repository %}
              <div class="col-6">
        <a href="{{ project.repository }}" target="_blank">
          <button class="project-button">Source Code</button>
        </a>
              </div>
      {% endif %}
    </div>
    </div>
    <!-- Right column: Details -->
     
    <div class="col-12 col-sm-6">
          <h2 class="text-mark-projects">
          <i class="fas fa-circle-info mx-2"></i>About
        </h2>
        <p class="fs-lg mx-2">{{ project.description }}</p>
      {% if project.problem %}
      <h3 class="d-flex align-items-center text-mark-projects">
       <i class="fa-solid fa-circle-question me-2"></i>Problem
      </h3>
      <p class="my-3">{{ project.problem }}</p>
      {% endif %}

      {% if project.solution %}
      <h3 class="display-7 d-flex align-items-center text-mark-projects my-2">
        <i class="fas fa-lightbulb me-2"></i>Solution
      </h3>
  <p class="my-3">{{ project.solution }}</p>
    </div> 
      {% endif %}

      <div class="row">
        <!-- Add A 'back to portfolio link'-->
  <div class="row folio-title mt-1 mt-sm-3 mt-md-4 py-3 py-md-4">
    <div class="col text-center">
      <a href="{% url 'project_index' %}" class="back-to-projects-button">
        <i class="fas fa-chevron-left me-2"></i>
        Back to Portfolio</a>
    </div>
  </div>
    </div>

  <div class="my-3 mx-auto justify-content-center just text-center pb-3">
    <hr id="bottom-line">
  </div>

  </div>
</section>
{% endblock %}
