#homePhoto {
  

  background-image: url("../../media/bubble.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-size: contain;
}


#imgBanner {
  position: absolute;
  bottom: 0;
  top: 0;
  max-width: 100%;
  width: 250px;
  height: auto;
  opacity: .675;
}


/*------------------------- Hero */

.mx-3.btn.btn-main.icon-link.icon-link-hover.mb-5 {
  z-index: 1000;
}

#coverIcon {
  background-position:center center; 
  background-size: contain;
  background-repeat: no-repeat;
}

.hand-wave-animate {
  animation: hand-wave 2.5s infinite;
  transform-origin: 50% 80%;
  display: inline-block;
}

@keyframes hand-wave {
  0%,100% {
      transform: rotate(0)
  }

  10% {
      transform: rotate(14deg)
  }

  20% {
      transform: rotate(-8deg)
  }

  30% {
      transform: rotate(14deg)
  }

  40% {
      transform: rotate(-4deg)
  }

  50% {
      transform: rotate(10deg)
  }

  60% {
      transform: rotate(0)
  }
}

